@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
header {
    width: 100%;
    background: #FFFFFF;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
}

.nav-item {
    font-family: 'Poppins', sans-serif;
    color: #000000;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    font-style: normal;
}

.hero {
    margin: 50px 0px 20px 0px;
}

.hero-header h1 {
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    line-height: 70px;
    font-size: 50px;
    color: #083E9E;
    margin-top: 150px;
}


/* Media Queries for hero */

@media screen and (max-width: 576px) {}

@media screen and (max-width: 991px) {
    section .hero {
        font-family: Poppins;
        font-style: normal;
        font-weight: 600;
        /* display: flex;
        flex-wrap: wrap; */
        background-color: red;
    }
}

.interest-form {
    margin-bottom: 80px;
}

.form-control-sm {
    width: 35vw;
    height: 45px;
    border: 0.5px solid #838282;
    box-sizing: border-box;
    border-radius: 5px;
}

.savings-label {
    font-family: Poppins;
    color: #838282;
    line-height: 27px;
}

.interest-total {
    margin-bottom: 80px;
}

.total {
    margin: auto;
    width: 50%;
    background: #F0FAFF;
    padding: 10px;
    width: 546px;
    height: 240px;
}

.total p {
    text-align: center;
    position: relative;
    top: 30%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    line-height: 18px;
}

.total .total-balance {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 30px;
    color: black;
}

.total .sum {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 37.89px;
    line-height: 40px;
    color: #385693;
}

.total .summary {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    color: #838282;
}

.total-btn {
    margin: auto;
    margin-top: 25px;
    width: 50%;
    padding: 10px;
    display: flex;
    justify-content: center;
}

.start-earning-btn {
    width: 296px;
    height: 60px;
    background: #083E9E;
    border-radius: 3px;
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
}

.btn:hover {
    color: white;
}

.interest-breakdown-div {
    /* height: 336px; */
    background: #FAFCFF;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.12);
    margin: 10px 0px 80px 0px
}

.interest-breakdown-div h4 {
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 38px;
    line-height: 72px;
    color: #838282;
}

.interest-breakdown-div p {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #838282;
}

.plans-header h4 {
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 35px;
    line-height: 63px;
    text-align: center;
    color: #083E9E;
}

.plans {
    margin-bottom: 80px;
}

.plans-header span {
    text-align: center;
    line-height: 27px;
    text-align: center;
    color: #57709E;
    display: flex;
    justify-content: center;
}

.piggy-cards {
    margin-bottom: 80px;
}

.card-text {
    margin: 10px;
    margin-top: 50px
}

.card1 .card-text h6 {
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    color: #385693;
}

.card2 .card-text h6 {
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    color: #B35988;
}

.card3 .card-text h6 {
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    color: #5991B3;
}

.card4 .card-text h6 {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 111.5%;
    color: #61806E;
}

.card-text p {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 13px;
    color: #3B4856;
}

.card1 {
    background: #B6E1F2;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    width: 260px;
    height: 160px;
}

.card2 {
    width: 260px;
    height: 160px;
    background: #FFEAF5;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.card3 {
    width: 260px;
    height: 160px;
    background: #E7F6FF;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.card4 {
    width: 260px;
    height: 160px;
    background: #DCFFEB;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.create-acct-btn {
    width: 296px;
    height: 60px;
    background: #083E9E;
    border-radius: 10px;
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    margin-top: 20px
}

.foot {
    margin-top: 40px;
    /* width: 1440px; */
    /* height: 420px; */
    background: #083E9E;
    color: white;
    padding-bottom: 80px;
}

.foot-head {
    padding-top: 85px
}

.head-caption {
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 46px;
    /* identical to box height */
    /* text-align: left; */
    color: #FFFFFF;
}

ul {
    list-style-type: none;
    padding: 0px;
    line-height: 24px;
    font-family: Poppins;
    font-style: normal;
    /* font-weight: normal; */
    font-size: 14px;
    line-height: 24px;
    text-align: justify;
    color: #FFFFFF;
}

.foot p {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    text-align: justify;
    color: #FFFFFF;
}

.social-icon {
    cursor: pointer;
}


/* The container must be positioned relative: */

.custom-select {
    position: relative;
    font-family: Arial;
}

.custom-select select {
    display: none;
    /*hide original SELECT element: */
}

.select-selected {
    background-color: DodgerBlue;
}


/* Style the arrow inside the select element: */

.select-selected:after {
    position: absolute;
    content: "";
    top: 14px;
    right: 10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: #fff transparent transparent transparent;
}


/* Point the arrow upwards when the select box is open (active): */

.select-selected.select-arrow-active:after {
    border-color: transparent transparent #fff transparent;
    top: 7px;
}


/* style the items (options), including the selected item: */

.select-items div,
.select-selected {
    color: #ffffff;
    padding: 8px 16px;
    border: 1px solid transparent;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    cursor: pointer;
}


/* Style items (options): */

.select-items {
    position: absolute;
    background-color: DodgerBlue;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
}


/* Hide the items when the select box is closed: */

.select-hide {
    display: none;
}

.select-items div:hover,
.same-as-selected {
    background-color: rgba(0, 0, 0, 0.1);
}

.options {
    /* border: 1px solid #e5e5e5; */
    padding: 10px;
}

.form-control {
    width: 35vw;
    height: 45px;
    border: 0.5px solid #838282;
    box-sizing: border-box;
    border-radius: 5px;
}


/* select {
    font-size: 14px;
    border: none;
    width: 100%;
    background: white;
}

.special {
    font-weight: bold !important;
    color: #fff !important;
    background: #bc0000 !important;
    text-transform: uppercase;
} */