@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
header {
    width: 100%;
    background: #FFFFFF;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
}

.nav-item {
    font-family: 'Poppins', sans-serif;
    color: #000000;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    font-style: normal;
}

.hero {
    margin: 50px 0px 60px 0px;
}

.hero-header h1 {
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    line-height: 70px;
    font-size: 50px;
    color: #083E9E;
    margin-top: 150px;
}

.interest-form {
    margin-bottom: 80px;
}

.form-control-sm {
    width: 35vw;
    height: 45px;
    border: 0.5px solid #838282;
    box-sizing: border-box;
    border-radius: 5px;
}

.savings-label {
    font-family: Poppins;
    color: #838282;
    line-height: 27px;
}

.interest-total {
    margin-bottom: 80px;
}

.total {
    margin: auto;
    width: 50%;
    background: #F0FAFF;
    padding: 10px;
    width: 546px;
    height: 240px;
}

.total p {
    text-align: center;
    position: relative;
    top: 30%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    line-height: 18px;
}

.total .total-balance {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 30px;
    color: black;
}

.total .sum {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 37.89px;
    line-height: 40px;
    color: #385693;
}

.total .summary {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    color: #838282;
}

.total-btn {
    margin: auto;
    margin-top: 25px;
    width: 50%;
    padding: 10px;
    display: flex;
    justify-content: center;
}

.start-earning-btn {
    width: 296px;
    height: 60px;
    background: #083E9E;
    border-radius: 3px;
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
}

.btn:hover {
    color: white;
}

.interest-breakdown-div {
    /* height: 336px; */
    background: #FAFCFF;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.12);
    margin: 10px 0px 80px 0px
}

.interest-breakdown-div h4 {
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 38px;
    line-height: 72px;
    color: #838282;
}

.interest-breakdown-div p {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #838282;
}

.plans-header h4 {
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 35px;
    line-height: 63px;
    text-align: center;
    color: #083E9E;
}

.plans {
    margin-bottom: 80px;
}

.plans-header span {
    text-align: center;
    line-height: 27px;
    text-align: center;
    color: #57709E;
    display: flex;
    justify-content: center;
}

.piggy-cards {
    margin-bottom: 80px;
}

.card1 {
    background: #B6E1F2;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    width: 260px;
    height: 160px;
}

.card2 {
    width: 260px;
    height: 160px;
    background: #FFEAF5;
    border-radius: 5px;
}

.card3 {
    width: 260px;
    height: 160px;
    background: #E7F6FF;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.card4 {
    width: 260px;
    height: 160px;
    background: #DCFFEB;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}


/* Media Queries */